/* body{

} */
table {
  border-collapse: 4px collapse;
  width: 80%;
  margin-top:10%;
  margin-left: 10%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color:#f6f6e9}

th {
  background-color: #ed5b2d;
  color: #291b25;
}
/* h1{
text-align: center;
} */
