#hero{
    background-color: #291b25;
}
img{
    margin-top: 10px;
    width: 75%; height:75%;
    background-position: center;
    
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Encode Sans SC', sans-serif;
    color:#f6f6e9;
}
.centered2{position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Oregano', cursive;
    color:#f6f6e9;

}
#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #291b25;
    }
    
    #header.header-transparent {
    background: transparent;
    }
    
    #header.header-scrolled {
    background: #291b25;
    }
    
    #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    }
    
    #header .logo h1 a, #header .logo h1 a:hover {
    color: #f6f6e9;
    text-decoration: none;
    font-family: 'Encode Sans SC', sans-serif;
    }
    
    #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
    }
    
    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation 
    */
    .navbar {
    padding: 0;
    }
    
    .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    }
    
    .navbar li {
    position: relative;
    }
    
    .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    font-size: 14px;
    color: #f6f6e9;
    white-space: nowrap;
    transition: 0.3s;
    /* border-radius: 50px; */
    }
    
    .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    }
    
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    border-bottom: 2px solid #ed5b2d;
    color:#f6f6e9;
    }
    
    .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 5px  0 0 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px #291b25;
    transition: 0.3s;
    border-radius: 15px;
    }
    
    .navbar .dropdown ul li {
    min-width: 200px;
    }
    
    .navbar .dropdown ul a {
    padding: 10px 20px;
    color: #291b25;
    margin: 0 5px;
    font-size: 14px;
    }
    
    .navbar .dropdown ul a i {
    font-size: 12px;
    }
    
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #ed5b2d;
    }
    
    .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    }
    
    .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
    }
    
    .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
    }
    
    @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
    }
    
    /**
    * Mobile Navigation 
    */
    .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    }
    
    @media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
    }
    
    .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 21, 28, 0.9);
    transition: 0.3s;
    z-index: 999;
    }
    
    .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    }
    
    .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    }
    
    .navbar-mobile a {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    color: #2a2c39;
    }
    
    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #fff;
    }
    
    .navbar-mobile .getstarted {
    margin: 15px;
    }
    
    .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }
    
    .navbar-mobile .dropdown ul li {
    min-width: 200px;
    }
    
    .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
    }
    
    .navbar-mobile .dropdown ul a i {
    font-size: 12px;
    }
    
    .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #fff;
    }
    
    .navbar-mobile .dropdown > .dropdown-active {
    display: block;
    }
    
    .hero-waves {
    display: block;
    top:60px;
    width: 100%;
    height: 100px;
    position: relative;
    }
    
    .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    }
    
    .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    }
    
    .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    }
    
    @-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
    }
    
    @keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
    }
    
    @-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
    }
    
    @keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
    }
    
    @-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
    }
    
    @keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
    }