.para1{
    /* height: 100px;
    width: 100%; */
    align-items: center;
}

.Tech h1{
    align-items: center;
    margin-left: 375px;
}

.Tech .video{
    height: 300px;
    width: 300px;
    margin-left: 200px;
    margin-right: 20px;
}

.Tech .parent{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.Tech p{
    font-size: 17px;
    font-weight: 50px;
}

ol{
    font-size: 17px;
    font-weight: 50px;
}

.Tech h2{
    font-weight: bold;
    margin-left: 10px;
}

.Tech{
    height: 700px;
    width: 1000px;
    align-items: center;
    border: 3px solid orange;
    background-color: rgba(219, 218, 218, 0.301);
    margin-left: 270px;
}
